@font-face {
  font-family: "Rajdhani";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rajdhani/Rajdhani-Light.ttf") format("opentype");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rajdhani/Rajdhani-Medium.ttf") format("opentype");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rajdhani/Rajdhani-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("opentype");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rajdhani/Rajdhani-Bold.ttf") format("opentype");
}
